.uno{
  background-color: #E2E2E2;
  height: 100px;
  
  display: flex;
  justify-content: center;  
  align-items: center;
}
.dos{
  background-color: #FFF0AC;
  height: 100px;
  
  display: flex;
  justify-content: center;  
  align-items: center;
}
.tres{
  
  height: 300px;
  background-color: #D1EAFF;
    
  display: flex;
  justify-content: center;  
  align-items: center;
}
.cuatro{
  background-color: #D1EAFF;
  height: 100px;
  
  display: flex;
  justify-content: center;  
  align-items: center;
}